/* анимация кнопок с градиентом */
a, 
button{
    transition: all .3s;
}

.btn-animtion:hover{
    background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
    box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
    backdrop-filter: blur(106.124px);
    color: white;
}