/* свайпер */
@media(max-width: 1072px){
    .swiper .swiper-container .swiper-wrapper .img-block{
        top: -50px;
        left: 0px
    }
}
@media(max-width: 970px){
    .swiper .swiper-container .swiper-wrapper .back{
        margin-top: 0;
    }
    .swiper .swiper-container .swiper-wrapper .swiper-slide{
        width: 100%;
        max-width: 100%;
    }
    .swiper .swiper-container .swiper-wrapper{
        flex-wrap: nowrap;
    }
    .swiper .swiper-container .swiper-wrapper .three .two-text{
        margin-top: 80px;
    }
    

}


@media(max-width: 500px){
    .swiper .swiper-container .swiper-wrapper .swiper-slide h3{
        font-size: 18px;
    }
    .swiper .swiper-container .swiper-wrapper .swiper-slide h5,
    .swiper .swiper-container .swiper-wrapper .swiper-slide .text-text{
        font-size: 16px;
    } 
    .swiper .swiper-container .swiper-wrapper .swiper-slide .text-info{
        font-size: 12px;
    }
    .swiper .swiper-container .swiper-wrapper .img-block{
        width: 50px;
        height: 50px;
        top: 0;
    }
    .swiper .swiper-container .swiper-wrapper .img-block img{
        width: 100%;
        max-width: 100%;
    }
}
@media(max-width: 430px){
    .swiper .swiper-container .swiper-wrapper .swiper-slide .input-card input,
    .swiper .swiper-container .swiper-wrapper .swiper-slide .input-sum input{
        font-size: 12px;
    }
    .swiper .swiper-container .swiper-wrapper .swiper-slide a {
        font-size: 13px;
    }
    .swiper .swiper-container .swiper-wrapper .swiper-slide a{
        margin-top: 30px;
    }
}



/* burger menu */
@media(max-width: 768px){
    .header{
        padding: 15px 0px;
    }
    .header__content .burger{
        display: block;
    }
    .header__content-nav{
        position: absolute;
        left: -100%;
        top: 70px;
        width: 100%;
        height: calc(100vh - 70%);
        background-color: black;
        transition: all .3s;
        display: flex;
        flex-direction: column;
    }
    .header__content-nav.active{
        left: 0;
        text-align: center;
        overflow: scroll;
    } 
    .header__content-nav.active a{
        margin: 0;
        margin: 20px 0px;
    }
    .burger.active span:nth-child(2){
        opacity: 0;
    }
    .burger.active span:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .burger.active span:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .content{
        margin-top: 100px;
    }
}

/* сontent */
@media(max-width: 725px){
    .content__text h1{
        font-size: 21px;
        line-height: 16px;
    }
    .content__text p {
        font-size: 18px;
        max-width: 300px;
    }
    .content__text::after{
        top: 0
    }
}
@media(max-width: 486px){
    .search__input input::placeholder{
        font-size: 12px;
        line-height: 5px;
        align-items: center;
    }
}
@media(max-width: 460px){
    .content__text h1{
        font-weight: 700;
        font-size: 18px;
        line-height: 16px;
    }
    .content__text p{
        font-weight: 400;
        font-size: 12px;
        max-width: 200px;
        line-height: 20px;
    }
   
    .content__btn .one,
    .content__btn .two{
        padding: 5px 20px;
        font-size: 12px;
        border-radius: 20px;
    } 
    .content__btn .one{
        margin-right: 10px;
    }
    .search{
        margin-top: 40px;
    }
}


/* регистрация */

@media(max-width: 800px){
    .reg__right .reg__container h3{
        font-size: 32px;
    }
    .reg__right{
        width: 90%;
    }
}
@media(max-width: 700px){
    .reg__right .reg__container .forms{
        max-width: 300px;
    }
    .reg__right{
        padding-right: 20px;
        width: 100%;
    }
    .reg__right .reg__container h3{
        font-size: 20px;
    }
    .reg__right .reg__container .inp input{
        padding: 10px 5px;
        padding-left: 10px;
    }
    .reg__right .reg__container .forms{
        margin: 0 auto;
    }
    .reg__right .reg__container{
        margin: 0;
    }
}
@media(max-width: 500px){
    .reg__right{
        margin-left: 0px;
        width: 100%;
        padding: 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .reg__left{
        width: 0;
    }
    .reg__right .reg__container{
        margin: 0 auto;
        padding: 0 15px;
        width: 100%;
    }
    .reg{
        height: 500px;
    }
    
}

/* оплата */
@media(max-width: 860px){
    .payment__card-form .form{
        flex-direction: column;
        align-items: center;
    }
    .payment__card-form  img{
        width: 100%;
        max-width: 100%;
    }
    .payment__card-form .form .form-left {
        margin-top: 40px;
    }
    .payment__card-form .form .form-left{
        width: 100%;
    }
    .payment__card-form{
        margin-top: 50px;
    }
    .payment__card-info{
        flex-direction: column-reverse;
        align-items: center;
    }

    .payment__card.requis .forms{
        flex-direction: column;
        align-items: center;
    }
    .payment__card.requis .forms .forms-info{
        width: 100%;
    }
    .payment__card.requis .forms .forms-info:nth-child(2){
        margin-top: 20px;
    }
}
@media(max-width: 500px){
    .payment__card-text h3{
        font-size: 18px;
    }
    .payment__card-text:after{
        left: 0px;
    }
}


/* Диаграмм */
@media(max-width: 900px){
    .diagrams__content{
        flex-direction: column;
        align-items: center;
    }
    .diagrams__content-left,
    .diagrams__content-right{
        width: 100%;
    }
    .diagrams__content-right{
        margin-top: 20px;
    }
}

@media(max-width: 450px){
    .diagrams__content-left{
        flex-direction: column;
    }
    .diagrams__content-left .chart-container{
        margin-top: 20px;
        max-width: 150px;
    }
    .diagrams__content-right ol li{
        font-size: 12px;
    }
}

/* курс валют */

@media(max-width: 460px){
    .dollars__content{
        flex-direction: column;
        align-items: center;
    }
    .dollars__content span{
        font-size: 13px;
    }
}

